Flask==0.12.2
gunicorn==19.7.1
flask_bootstrap==3.3.7.1
flask_nav==0.6
click==6.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.6
psycopg2==2.7.1
SQLAlchemy==1.0.14
pandas==0.24.2