<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->
{% extends "bootstrap/base.html"%}
{%block content%}
<html>
<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    {% block scripts %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
    $(document).ready( function () {
    $('#example').DataTable();
    } );
    </script>

    {% endblock scripts %}

</head>

<body>

	<nav class = "navbar navbar-expand-lg navbar-light bg-light" >
		<a class="nav-link" href="{{url_for('index')}}">Home</a>
		<a class="nav-link" href="{{url_for('about')}}">About</a>		
		<a class="nav-link active" href="{{url_for('books')}}">Books</a>
		<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
		<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>


		<div id='submit'>
		<form class='form-inline my-2 my-lg-0' >
			<input class='form-control mr-sm-2' type='search' placeholder="Search..." aria-label='Search' id='search'>
			<button class='btn btn-outline-success my-2 my-sm-0' type='submit' id='submit_btn'>Search</button>
		</form>
		</div>
	</nav>

<h1 style="text-align: center;"><strong>About</strong></h1>

<div class = "container"

	<p style="text-align: center;"><strong>Total Commits</strong>: 101</p>
	<p style="text-align: center;"><strong>Total issues</strong>: 45</p>
	<p style="text-align: center;"><strong>Total Unit Tests</strong>: 9</p>
	<p style="text-align: center;"><a href="https://gitlab.com/amv2768/swewebsite/issues"><strong>Gitlab Issue Tracker</strong></a></p>
	<p style="text-align: center;"><a href="https://gitlab.com/amv2768/swewebsite"><strong>Gitlab Repo</strong></a></p>
	<p style="text-align: center;"><a href="https://gitlab.com/amv2768/swewebsite/wikis/home"><strong>Gitlab Wiki</strong></a></p>
	<p style="text-align: center;"><a href="https://gitlab.com/amv2768/swewebsite/raw/master/books.json"><strong>Data Source</strong></a></p>
	<p style="text-align: center;"><a href="{{ url_for('test') }}"><strong>Unit Tests</strong></a></p>
	<p style="text-align: center;"><a href="https://speakerdeck.com/prachicshah2/group-17-presentation"><strong>Presentation on Speaker Deck</strong></a></p>



	<h3 style="text-align: center;"><img src="/static/images/amaan-1.jpg" alt="" width="300" height="300" /></a></h3>
	<h3 style="text-align: center;">Amaan Virani</h3>
	<p style="text-align: center;"><strong>Major(s)</strong>: Business Honors, MIS</p>
	<p style="text-align: center;"><strong>About Me</strong>: Hi I'm Amaan Virani. I'm currently a senior at UT studying Business Honors and Management Information Systems. After graduation I will be going to work in consulting. In my free time I enjoy watching tv, playing basketball, and eating good food!</p>
	<p style="text-align: center;"><strong>Major Responsibilities</strong>: Initial set-up of project, backend database setup, and books page</p>
	<p style="text-align: center;"><strong>no. of commits</strong>: 22</p>
	<p style="text-align: center;"><strong>no. of Issues</strong>: 8</p>
	<p style="text-align: center;"><strong>no. of Unit Tests</strong>: 2</p>

	<h3 style="text-align: center;"><img src="/static/images/raza-1.png" alt="" width="300" height="300" /></a></h3>
	<h3 style="text-align: center;">Raza Retiwala</h3>
	<p style="text-align: center;"><strong>Major(s)</strong>: MIS</p>
	<p style="text-align: center;"><strong>About Me</strong>: Hi! My name is Raza Retiwala. I'm a senior studying MIS at UT Austin. I was born in India, but grew up in the Houston area. I spend my free time watching way too much TV and scrolling through uber eats. I'll be graduating this coming may and will be joining Twitter as a Product Manager after that.</p>
	<p style="text-align: center;"><strong>Major Responsibilities</strong>: Intro for technical report, about page, and GCP deployment</p>
	<p style="text-align: center;"><strong>no. of commits</strong>: 22</p>
	<p style="text-align: center;"><strong>no. of Issues</strong>: 9</p></p>
	<p style="text-align: center;"><strong>no. of Unit Tests</strong>: 2</p>
	<h3 style="text-align: center;"><img src="/static/images/daniel-1.jpg" alt="" width="300" height="300" /></a></h3>

	<h3 style="text-align: center;">Daniel Miyares</h3>
	<p style="text-align: center;"><strong>Major(s)</strong>: Business Honors, MIS</p>
	<p style="text-align: center;"><strong>About Me</strong>: I'm a Business Honors and Management Information System student who will be graduating in May 2019. After graduation, I will be working as a Product Manager at Uber in San Francisco. In my limited free time, I play on 3-4 intramural teams simultaneously, eat second dinners, and host board game nights.</p>
	<p style="text-align: center;"><strong>Major Responsibilities</strong>: Authors page and Namecheap hosting </p>
	<p style="text-align: center;"><strong>no. of commits</strong>: 4</p>
	<p style="text-align: center;"><strong>no. of Issues</strong>: 10</p>
	<p style="text-align: center;"><strong>no. of Unit Tests</strong>: 2</p>
	<h3 style="text-align: center;"><img src="/static/images/prachi-1.jpg" alt="" width="300" height="300" /></a></h3>

	<h3 style="text-align: center;">Prachi Shah</h3>
	<p style="text-align: center;"><strong>Major(s)</strong>: Biochemistry</p>
	<p style="text-align: center;"><strong>About Me</strong>: I am currently a senior Biochemistry Honors student at UT Austin. After graduation, I will be attending medical school at UT Southwestern in Dallas. In my free time I love to dance, cook, and binge watch Netflix.</p>
	<p style="text-align: center;"><strong>Major Responsibilities</strong>: Home page, deployment to GCP, and creating individual dynamic HTML pages</p>
	<p style="text-align: center;"><strong>no. of commits</strong>: 42</p>
	<p style="text-align: center;"><strong>no. of Issues</strong>: 10</p>
	<p style="text-align: center;"><strong>no. of Unit Tests</strong>: 2</p>
	<h3 style="text-align: center;"><img src="/static/images/kevin-1.jpg" alt="" width="300" height="300" /></a></h3>

	<h3 style="text-align: center;">Kaiwen Li</h3>
	<p style="text-align: center;"><strong>Major(s)</strong>: Civil Engineering</p>
	<p style="text-align: center;"><strong>About Me</strong>: I’m currently a senior civil engineering student at UT, planning to graduate in December 2019. In my free time, I enjoy watching basketball, sleeping, and spending time with friends!</p>
	<p style="text-align: center;"><strong>Major Responsibilities</strong>: Publishers page and creating search capability</p>
	<p style="text-align: center;"><strong>no. of commits</strong>: 12</p>
	<p style="text-align: center;"><strong>no. of Issues</strong>: 8</p>
	<p style="text-align: center;"><strong>no. of Unit Tests</strong>: 1</p>

	<h3 style="text-align: center;">Tools used</h3>
	<p style="text-align: center;"><strong>Flask</strong></p>
	<p style="text-align: center;"><strong>Bootstrap</strong></p>
	<p style="text-align: center;"><strong>Google Cloud</strong></p>
	<p style="text-align: center;"><strong>Git/Gitlab</strong></p>
	<p style="text-align: center;"><strong>Slack</strong></p>

</div>

	<script type="text/javascript">
	var btn = document.getElementById("submit_btn");
	
	btn.addEventListener('click', function(e){
		e.preventDefault();
		var search = document.getElementById('search').value;
		var url = "{{url_for('search', prompt = 'placeholder')}}".replace('placeholder',search)
		location.href = url;
	})
	</script>
	</body>
</html>


</body>
</html>
</body>
</html>
{% endblock %}
<!-- end of book.html -->