<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->
{% extends "bootstrap/base.html"%}
{%block content%}
<html>
<head>
	{{nav.top.render(renderer='bootstrap')}}

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	{% block scripts %}
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script>
	$(document).ready( function () {
    $('#example').DataTable();
	} );
	</script>
	{% endblock scripts %}
</head>
<body>
	<h1> Authors </h1> 
	<!-- 	<a href="{{url_for('index')}}">Main Menu</a> <br/> -->
	<table id='example' class = "table table-bordered table-hover table-striped" style="width:98%">
	<thead>
	  <tr>
	    <th>Image</th>	    
	    <th>Name</th>
	    <th>Born</th> 
	    <th>Died</th>
	    <th>Description</th>
	    <th>Alma Mater</th>
	    <th>Nationality</th>
	    <th>Wikipedia</th>
	  </tr>
	</thead>
	<tbody>
	  {% if authors == [] %}
			<p>No authors exist</p>	
		{% else %}
			{% for i in authors %}
				<div> 
						<tr>
						        <td><img src= {{i.image_url}} alt='PLACEHOLDER' style="width:128px;height:128px;"></td>
							    <td>{{i.name}}</td>
							    <td>BORN NOT IN DATABASE?</td>
							    <th>NOT IN DATABASE</th> 
							    <td>{{i.description}}</td>
							    <td>{{i.alma_mater}}</td>
							    <td>{{i.nationality}}</td>
							    <td><a href={{i.wikipedia_url}}>Wikipedia</a></td> 
							  </tr>
				</div>
			{% endfor %}
		{% endif %}
	</tbody>



</table>
</body>
</html>
{% endblock %}
<!-- end of book.html -->