<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->
{% extends "bootstrap/base.html"%}
{%block content%}
<html>
<head>
	{{nav.top.render(renderer='bootstrap')}}
</head>
<body>
	<h1> Authors </h1> 
	<!-- 	<a href="{{url_for('index')}}">Main Menu</a> <br/> -->
	<table class = "table" style="width:100%">
	  <tr>
	    <th>Name</th>
	    <th>Born</th> 
	    <th>Died</th>
	    <th>Description</th>
	    <th>Alma Mater</th>
	    <th>Nationality</th>
	    <th>Wikipedia</th>
	  </tr>
	  <tr>
	    <td>Orson Scott Card</td>
	    <td>08/24/1951</td>
	    <th>Still alive</th> 
	    <td>Orson Scott Card is an American novelist, critic, public speaker, essayist and columnist. He writes in several genres but is known best for science fiction.</td>
	    <td><div>Brigham Young University</div><div>University of Utah (M.A.)</div><div>University of Notre Dame (1980s graduate student)</div></td>
	    <td>American</td>
	    <td><a href="https://en.wikipedia.org/wiki/Orson_Scott_Card">Wikipedia</a></td> 
	  </tr>
	  <tr>
	    <td>Douglas Adams</td>
	    <td>03/11/1952</td> 
	    <td>05/11/2001</td>
	    <td>Douglas Noel Adams was an English author, scriptwriter, essayist, humorist, satirist and dramatist. Adams is best known as the author of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio comedy before developing into a "trilogy" of five books that sold more than 15 million copies in his lifetime and generated a television series, several stage plays, comics, a computer game, and in 2005 a feature film. </td>
	    <td><div>St John's College</div><div>Cambridge</div><div></td>
	    <td>English</td>
	    <td><a href="https://en.wikipedia.org/wiki/Douglas_Adams">Wikipedia</a></td> 
	  </tr>
	  <tr>
	    <td>Eoin Colfer</td>
	    <td>05/14/1965</td>
	    <td>Still alive</td> 
	    <td>Eoin Colfer is an Irish author of children's books. He worked as a primary school teacher before he became a full-time writer. He is best known for being the author of the Artemis Fowl series.</td>
	    <td>University of Dublin</td>
	    <td>Irish</td>
	    <td><a href=https://en.wikipedia.org/wiki/Eoin_Colfer">Wikipedia</a></td> 
	  </tr>




</table>
</body>
</html>
{% endblock %}
<!-- end of book.html -->