<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->

{% extends "bootstrap/base.html"%}
{%block content%}


<html>
<head>
	{{nav.top.render(renderer='bootstrap')}}

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

	{% block scripts %}
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script>
	$(document).ready( function () {
    $('#example').DataTable();
	} );
	</script>
	{% endblock scripts %}

</head>
<body>
	<div class="container">
		<h1>{{author.name}}</h1>
		<div class="row">
			<div class="col-sm-6"><img src={{author.image_url}}></div>
			<div class="col-sm-6">
				<h3>About</h3>
				<p><strong>Nationality: </strong>{{author.nationality}}</p>
				<p><strong>Description: </strong>{{author.description}}</p>
		
				<h3>Books</h3>
				{% for book in author.books %}
      			<li><a href="{{ url_for('book_page', title=book.title)}}"> {{book.title}} </a></li>{% endfor %}
			    
			    <h3>Publishers</h3>
			    {% for publisher in author.publisher.split(',') %}
			    <li><a href="{{ url_for('publisher_page', name=publisher)}}"> {{publisher}} </a></li>{% endfor %}

			    <h3>Links</h3>
				<p><a href="{{author.wikipedia_url}}""> Wikipedia </a></p>
			       

			</div>
		</div>	
	</div>

	</body>
</html>

{% endblock %}