<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->

{% extends "bootstrap/base.html"%}
{%block content%}


<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

	<script>
	$(document).ready( function () {
    $('#example').DataTable();
	} );
	</script>

</head>

<body>
	<nav class = "navbar navbar-expand-lg navbar-light bg-light" >
		<a class="nav-link" href="{{url_for('index')}}">Home</a>
		<a class="nav-link" href="{{url_for('about')}}">About</a>		
		<a class="nav-link active" href="{{url_for('books')}}">Books</a>
		<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
		<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>


		<div id='submit'>
		<form class='form-inline my-2 my-lg-0' >
			<input class='form-control mr-sm-2' type='search' placeholder="Search..." aria-label='Search' id='search'>
			<button class='btn btn-outline-success my-2 my-sm-0' type='submit' id='submit_btn'>Search</button>
		</form>
		</div>
	</nav>

	<div class="container">
		<h1>{{publisher.name}}</h1>
		<div class="row">
			<div class="col-sm-6"><img class=instance_image src={{publisher.image_url}}></div>
			<div class="col-sm-6">
				<h3>About</h3>
				<p><strong>Location: </strong>{{publisher.location}}</p>
				<p><strong>Description: </strong>{{publisher.description}}</p>
		
				<h3>Books</h3>
				{% for book in publisher.books %}
      			<li><a href="{{ url_for('book_page', title=book.title)}}"> {{book.title}} </a></li>{% endfor %}
			    
			    <h3>Authors</h3>
			    {% for author in publisher.author.split(',') %}
			    <li><a href="{{ url_for('author_page', name=author)}}"> {{author}} </a></li>{% endfor %}

			    <h3>Links</h3>
				<p><a href="{{publisher.wikipedia_url}}""> Wikipedia </a></p>
				<p><a href="{{publisher.website}}"">Website</a></p>
			       

			</div>
		</div>	
	</div>
	<script type="text/javascript">
	var btn = document.getElementById("submit_btn");
	
	btn.addEventListener('click', function(e){
		e.preventDefault();
		var search = document.getElementById('search').value;
		var url = "{{url_for('search', prompt = 'placeholder')}}".replace('placeholder',search)
		location.href = url;
	})
	</script>	
	</body>
</html>

{% endblock %}