<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->
{% extends "bootstrap/base.html"%}
{%block content%}


<html>
<head>
  {{nav.top.render(renderer='bootstrap')}}

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready( function () {
    $('#example').DataTable();
  } );
  </script>
  {% endblock scripts %}

</head>
<body>
	<h1> Publishers </h1>   
    <table  id="example" class="table table-bordered table-hover table-striped" style="width:98%">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th> 
    <th>Description</th>
    <th>Owner</th>    
    <th>Location</th>
    <th>Website</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><img src="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png" alt="Pottermore_image" style="width:128px;height:128px;"></td>
  	<td>Pottermore</td>
  	<td>Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World.</td>
   	<td>J. K. Rowling</td>
  	<td>London, UK</td>
  	<td><a href="http://www.pottermore.com">Pottormore</a></td>
  </tr>  
  <tr>
    <td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Bloomsbury-publishing-logo.PNG/300px-Bloomsbury-publishing-logo.PNG" alt="Bloomsbury_image" style="width:128px;height:128px;"></td>
  	<td>Bloomsbury Publishing</td>
  	<td>Bloomsbury Publishing Plc is a British independent, worldwide publishing house of fiction and non-fiction. It is a constituent of the FTSE SmallCap Index.</td>
   	<td>N/A</td>
  	<td>London, UK</td>
  	<td><a href="http://bloomsbury.com">Bloomsbury</a></td>
  </tr>  
  <tr>
    <td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Scholastic_Headquarters_by_Matthew_Bisanz.JPG/240px-Scholastic_Headquarters_by_Matthew_Bisanz.JPG" alt="Scholastic_image" style="width:128px;height:128px;"></td>

  	<td>Scholastic Corporation</td>
  	<td>Scholastic Corporation is an American publishing, education and media company known for publishing, selling, and distributing books and educational materials for schools, teachers, parents, and children.</td>
   	<td>Scholastic Corporation</td>
  	<td>New York City, USA</td>
  	<td><a href="http://www.scholastic.com">Scholastic</a></td>
  </tr>  

</tbody>
</table>
</body>
</html>
{% endblock %}