<!-- Type in the following code and save it in the file "book.html" inside the folder
"templates" -->
{% extends "bootstrap/base.html"%}
{%block content%}


<html>
<head>
  {{nav.top.render(renderer='bootstrap')}}

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready( function () {
    $('#example').DataTable();
  } );
  </script>
  {% endblock scripts %}

</head>
<body>
	<h1> Publishers </h1>   
    <table  id="example" class="table table-bordered table-hover table-striped" style="width:98%">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th> 
    <th>Description</th>
    <th>Owner</th>    
    <th>Location</th>
    <th>Website</th>
  </tr>
</thead>
<tbody>
  {% if publishers == [] %}
      <p>No publishers exist</p> 
    {% else %}
      {% for i in publishers %}
        <div> 
            <tr>
                    <td><img src= {{i.image_url}} alt='PLACEHOLDER' style="width:128px;height:128px;"></td>
                  <td>{{i.name}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.author}}</td>
                  <td>{{i.location}}</td>
                  <td><a href={{i.website}}>{{i.name}}</a></td> 
                </tr>
        </div>
      {% endfor %}
    {% endif %}

</tbody>
</table>
</body>
</html>
{% endblock %}